.month{
    display:flex;
    height: 99vh;
}
.day-range {
    background-color: darkgrey;
    width: 50px;
    display:flex;
    flex-direction:column;
    flex: 50%;
}

.day-names {
    display:flex;
    flex-direction:column;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    flex: 50%;
}

.numbers {
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 1px solid black;
    color: white;
    font-weight: 600;
    font-size: large;
    height: 100%;
    width: 100%;
}

.numbers:hover {
    background-color: cornflowerblue;
    
}


