.month{
    display:flex;
    height: 99vh;
}
.day-range {
    
    display:flex;
    flex-direction:column;
    height: 100%;
    width: 50px;
}

.day-names {
    display:flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
   
}

.numbers {
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0;
    background-color: darkgrey;
    color: white;
    font-weight: 600;
    font-size: large;
    height: 100%;
    width: 100%;
}

.numbers:hover {
    background-color: darkslategray; 
}

.numbers:last-child{
    border-bottom: 1px solid black;
}

.numbers:nth-of-type(7n+3) {
    border-top: 2px solid black;
  }