.structure {
    margin-top: 5px;
    padding: 5px;
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content:center;
    align-items: center;
}