.table {  
    display: flex;
    height: 100%;
    box-shadow: 6px 1px 8px 0px rgba(0,0,0,0.73);
}

.ops_header {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    background-color: darkgrey;
    color: white;
    font-weight: 600;
    font-size: large;
    border: 1px solid black;
    border-bottom: 0;
    border-left:0;
  }

.operator {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: lightslategrey;
    border-top: 1px solid black;
    color: rgba(171, 183, 183, 0.3);
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    height: 100%;
    width: 90px;
}

.operator:hover {
    background-color: darkslategray;
}

.operator:last-child{
    border-bottom: 1px solid black;
}
.ops_header:first-child {
    border-left: 1px solid black;
}

.holiday {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: red;
}
