.structure {  
    display: flex;
    background-color: lightslategrey;
    color: white;
    font-weight: 600;
    font-size: large;
    height: 99vh;
}

.operator {
    width: 85px;
    border: 1px solid white;
    color: #fff;
}